$lightBackground: #ebf0f6;                                
$darkBackground:  #132238;                                    
$mainBackground: #98ccd3;                                               
$mainFontBlue: #364e68;